<html>
<head>
	<title>Application Page</title>
	<link href="../static/stylesheets/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="background-picture">
        <div class="navbar">
            <div class="brand">
                <img id="brand-logo" src="../../HTML/logo.png" />
            </div>
            <div class="navbar-items">
                <ul>
                    <li><a href="Application.html">Food</a></li>
                    <li><a href="Uber.html">Uber</a></li>
                    <li><a class="active">Drink</a></li>
                    <li><a href="../html/index.html">Sign Off</a></li>
                </ul>
            </div>
        </div>
        <div>
            <form>
                <label for = "drinkPreferences">Drink Preferences</label>
                <select id = "drinkPreferences" method = "POST" action = "message.html">
                <option value = "Ginger Ale, 120, 0">Ginger Ale</option>
                <option value = "Coca-Cola, 140, 0">Coca-Cola</option>
                <option value = "Apple Juice, 110, 0">Apple Juice</option>
                <option value = "Beer, 154, 5.00">Beer</option>
                </select>
            </form>
        </div>
    </div>
</body>
</html>