<html>
<head>
	<title>ezFly</title>
	<link href="../static/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="background-picture">
        <div class="home-container">
		<div class="home-text-container">
			
            <h1>Welcome to ezFly</h1>
            <div id="useroptions">
                <div id="signupdiv">
			        <a id="signupbutton" href="userreg.html" class="signupbutton">Sign Up</a>
                </div>
                <div id="middle"></div>
                <div id="logindiv">
                    <a id="loginbutton" href="login.html" class="loginbutton">Login</a>
                </div>
            </div>
		</div>
		<div class="home-background-shader"></div>
    </div>
    </div>
</body>
</html>