<html>
<head>
	<title>Login</title>
	<link href="{{ url_for('static', filename='stylesheets/mainyash.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="home-container"> 
		<div class="home-text-container">
			<h1>Login</h1>
			<form action = "http://localhost:5000/authenticate" method = "POST" class="signup-form" id="login-form">
				<label for="userField">Username:</label>
				<input type="text" id="userField" name = "userField"/>
				<label for="passField">Password:</label>
				<input type="password"	 id="passField" name = "passField"/>
				<input type = "submit" value = "Submit" class="loginbutton"/>
			</form>
			
		</div>
		<div class="home-background-shader">
	</div>
</body>
</html>