@import url(https://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	background-color: #A9A9A9;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1 {
	font-weight: 100;
}

header {
	position: relative;
	height: 70px;
	background-color: #8B008B;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 5;
}

header h1 {
	color: #FFF;
	margin-left: 0px;
	position: relative;
	top: 14px;
	left: 19px;
}

form {
	width: 400px;
}

.buttonDiv {
	position: relative;
	width: 250px;
	float: left;
	margin: 20px;
	right: 100px;

	
}

.forms {
	text-align: center;
}

.headerDiv {
	margin: 20px;
}

.button {
	padding: 10px;
	background-color: #00DD00;
	border-radius: 30px;
	color: #FFF;
	text-decoration: none;
	display: inline-block;
	border: none;
	width: 50%;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: relative;
	left: 500px;
}

.button:hover {
	background-color: #00FF00;
	transition: all 0.5s ease;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.loginbutton {
	padding: 10px;
	background-color: #00DD00;
	border-radius: 30px;
	color: #FFF;
	text-decoration: none;
	display: block;
	border: none;
	width: 100px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: absolute;
	top: 400px;
	right:622px;
}

.loginbutton:hover {
	background-color: #00FF00;
	transition: all 0.5s ease;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Home */
.home-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("airplane.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#home-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("Window.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-text-container {
	color: #FFF;
	text-align: center;
	height:650px;
	z-index: 1;
}

.home-text-container h1 {
	font-size: 50px;
}

.home-text-container p {
	margin-bottom: 30px;
}

.home-background-shader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 0;
}

/* Create User */
.signup-form {
	
	display:inline-block;
	margin: auto;
	width: 400px;
	background-color: #A9A9A9;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	float:none;
	margin: bottom: 60px;
}

.signup-form2 {
	display: inline-block;
	margin: 20px;
	width: 400px;
	background-color: #A9A9A9;
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
	height: 184px;
	float: right;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.signup-form input[type=text], .signup-form input[type=password]{
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #CCC;
	outline: none;
	margin-bottom: 20px;
}

.signup-form2 input[type=text], .signup-form2 input[type=password] {
	display: block;
	width: 100%;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #CCC;
	outline: none;
	margin-bottom: 20px;
}

#UserRegSubmit {
	padding: 10px;
	background-color: #00DD00;
	border-radius: 30px;
	color: #FFF;
	text-decoration: none;
	display: block;
	border: none;
	width: 100%;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#UserRegSubmit:hover {
	background-color: #00FF00;
	transition: all 0.5s ease;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#foodPreferences {
    padding: 15px;
    width: 400px;
    margin-bottom: 5px;
}

#drinkPreferences {
    padding: 15px;
    width: 400px;
    margin-bottom: 5px;
}

#restrictions {
    padding: 10px:
    width: 800 px;
    margin-bottom: 5px;
}

#background {
    position: absolute;
    	top: 0;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	background-image: url("Clouds.jpg");
    	background-position: center-right;
    	background-repeat: no-repeat;
    	background-size: cover;
    	display: flex;
    	justify-content: center;
    	align-items: center;
}

#userReg1Submit {
	position: absolute;
	top: 585px;
	left: 620px;
	width: 100px;

}

#height {
	margin-bottom: 5px;
}

#weight {
	margin-bottom: 5px;
}

#registrationButton {
	padding: 10px;
	background-color: #00DD00;
	border-radius: 30px;
	color: #FFF;
	text-decoration: none;
	display: block;
	border: none;
	width: 100px;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: absolute;
	top: 600px;
	right:620px;
}

#big-window {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("AirplaneTakeoff.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

#FlightNoTextContainer {
	color: #FFF;
	text-align: center;
	z-index: 1;
}

