<html>
<head>
	<title>Application Page</title>
	<link href="{{ url_for('static', filename='stylesheets/main.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="background-picture">
        <div class="navbar">
            <div class="brand">
                <img id="brand-logo" src="../../HTML/logo.png" />
            </div>
            <div class="navbar-items">
                <ul>
                    <li><a href="http://localhost:5000/toApplicationPage">Food</a></li>
                    <li><a class="active">Uber</a></li>
                    <li><a href="http://localhost:5000/toDrinkPage">Drink</a></li>
                    <li><a href="http://localhost:5000/toWelcomePage">Sign Off</a></li>
                </ul>
            </div>
        </div>
        <div>
            <form>
                <label for = "drinkPreferences">Uber Preferences</label>
                <select id = "drinkPreferences" method = "POST" action = "message.html">
                <option value = "Ginger Ale, 120, 0">Ginger Ale</option>
                <option value = "Coca-Cola, 140, 0">Coca-Cola</option>
                <option value = "Apple Juice, 110, 0">Apple Juice</option>
                <option value = "Beer, 154, 5.00">Beer</option>
                </select>
            </form>
            <button class="next-page-link" href="Uber.html"> >> </button>
        </div>
    </div>
</body>
</html>