<html>
<head>
	<title>Sign Up</title>
	<link href="mainyash.css" rel="stylesheet" type="text/css">
</head>
<body>
	
	<div class="home-background-shader">
		<div id="home-container">
		

			<div class="home-text-container">
				<h1>Registration</h1>	
				<div class="signup-form">
					<form method="POST" action="" style="float:right">
							<label for="FirstName" style="padding: 10px">First Name:</label>
							<input type="text" id="FirstName" />
							<label for="LastName">Last Name:</label>
							<input type="text" id="LastName" />
							<label for="username">Username:</label>
							<input type="text" id="username" />
							<label for="password1">Password:</label>
							<input type="password" id="password1" />
							<input type="submit" class="button" id ="userReg1Submit" href="userreg2.html"/>
					</form>
				</div>
				<!--<div class="signup-form2">
					<form method="POST" action="">
						<div id="infoDiv">
							<label for="username">Username:</label>
							<input type="text" id="username" />
							<label for="password1">Password:</label>
							<input type="password" id="password1" />
							<input type="submit" class="button" id ="userReg1Submit" href="userreg2.html"/>
						</div>
					</form>
				</div>-->
			</div>	
		</div>
	</div>
</body>
</html>